.container {
  
    padding-left: 15px;
    padding-right: 15px;
    @include padinAuto;
    @media screen and (min-width: 480px) {
        width: 480px;
    }
    @media screen and (min-width: 767px) {
        width: 768px;
    }
    @media screen and (min-width: 1200px) {
        width: 1600px;
    }
    &-header {
        height: 60px;
        @include padinTopBot (16px);
        @media screen and (min-width: 480px) {
                
                
            }
        
            @media screen and (min-width: 767px) {
                
                display: flex;
                /*align-items: baseline;*/
            }
        
            @media screen and (min-width: 1200px) {
               
                display: flex;
                align-items: baseline;
                
               
            }
        
    }
    &-hero {
        @media screen and (min-width: 480px) {
                width: 480px;
            }
        
            @media screen and (min-width: 767px) {
                width: 768px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 1600px;
            }
    }
    &-features {
        
        
        @media screen and (min-width: 480px) {
            
            width: 480px;
            }
        
        @media screen and (min-width: 767px) {
            @include displayFlex;
            width: 768px;
        }
        
        @media screen and (min-width: 1200px) {
            @include displayFlex;
            width: 1600px;
        }
        
      
    }
    &-work {
        @media screen and (min-width: 480px) {
                display: none;
            }
        
            @media screen and (min-width: 767px) {
                display: none;
            }
        
            @media screen and (min-width: 1200px) {
                display: flex;
                justify-content: center;
                width: 1600px;
            }
    }       
        
   
    &-customer {
        @media screen and (min-width: 480px) {
                width: 480px;
            }
        
            @media screen and (min-width: 767px) {
                width: 768px;
            }
        
            @media screen and (min-width: 1200px) {
                width: 1600px;
        }
    }
   &-team {
    
        @media screen and (min-width: 480px) {
            
        width: 480px;
     }
    
     @media screen and (min-width: 767px) {
            @include displayFlex;
            width: 768px;
     }
    
     @media screen and (min-width: 1200px) {
        display: flex;            
        justify-content: center;
         width: 1600px;   
    }
        
    }
    /*&-hooter {
        display: flex;
        align-items: baseline;
    }*/
    &-adress {
        margin-bottom: 60px;
    }
    &-modal {
        position: relative;
        margin-bottom: 10px;
    }

}