.customer {
    padding-top: 94px;
    padding-bottom: 94px;
    &-title {
        margin-top: 0;
        margin-bottom: 50px;
        
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.17;
        text-align: center;
        letter-spacing: 0.03em;
        
        color: $title-color;
    }
   
    &-list {
        display: flex;
        justify-items: center;
    }
    
    &-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 170px;
        height: 92px;
        transition: border 250ms $timing-function;
        
        border: 1px solid $icon-color;
        box-sizing: border-box;
        border-radius: 4px;
        &:hover, &:focus {
            border: 1px solid $acsent-color;
        }
        &:hover .customer-svg,
        &:focus .customer-svg {
            fill: $acsent-color;
        }
    }
    &-svg {
        width: 106px;
        max-height: 60px;
        transition: fill 250ms $timing-function;
        fill: $icon-color;
    }
}
.customer-icon+.customer-icon {
    margin-left: 30px;
}