.features {
    padding-top: 60px;
    padding-bottom: 60px;
   
    &-item {
        width: 100%; 
        text-align: center;     
    }  
    &-a {
        display: flex;
        /*flex-wrap: wrap;*/
        justify-content: center;
        align-items: center;
    
        width: 450px;
        height: 120px;
    
        margin-bottom: 30px;
        background: $background-color;
        border-radius: 4px;   
           
    }
    &-icon {
        width: 70px;
        /*height: 120px;*/
        
        border: 0;
        color: $title-color;
       
    }

}
 .features-icon:hover {
     fill: $acsent-color;
 }
.features-item:not(:last-child) {
    margin-bottom: 30px;
}
/*.features-item +.features-item {
    margin-bottom: 30px;
}*/
